


img{
    scale:calc(.9);
    margin: 15px;
    border-radius: 50%;
}

#max{
    min-height: 100vh;
}

#barra {
    position: relative;
}

.col-4 {
    background-color: #3f6399;
}

.col {
    background-color: #D9E6FF;
}

.container {
    background-color: #D9E6FF;
    max-width: 100% !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
}